@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

#rma-widget  {
    width: 300px;
    height: 250px;
}

#ad-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

#ad-container:hover {
	cursor: pointer;
}

#ad-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.ct-btn {
	color: #048A9A;
	background-color: white;
	border: none;
	font-weight: 600;
	padding: 6px 10px;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}

.ct-btn:hover {
	cursor: pointer;
}

.bottle, .logo, .copy {
	position: absolute;
}

.copy{
	color: white;
	transition: all 0.5s;

}

.headline {
	/*font-weight: 600;*/
	color: #F4F6F7;
	position: absolute;
	transition: all 0.5s;
}

.description {
	transition: all 0.5s;
	color: #F4F6F7;
	position: absolute;
	transform: translateX(100%);
	opacity: 0;
}

.variableData {
	color:  white;
}

#coupon {
	transition: all 0.5s;
	/*transform: translateX(-100%);*/
	/*opacity: 0;*/
}

.promo, .promo-code {
	position: absolute;
	color: #F4F6F7;
}