@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
}

#rma-widget  {
    width: 300px;
    height: 250px;
}

#ad-container {
	width: 100%;
	height: 100%;
	position: relative;
}

#ad-container:hover {
	cursor: pointer;
}

#ad-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.ct-btn {
	color: #00899B;
	background-color: white;
	border: none;
	font-weight: 600;
	padding: 6px 10px;
	position: absolute;
}

.bottle, .logo, .copy {
	position: absolute;
}

.copy{
	color: #F2F4F7;
}

.headline {
	font-weight: 600;
}