@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}

#rma-widget  {
    width: 300px;
    height: 250px;
}

#ad-container {
	width: 100%;
	height: 100%;
	position: relative;
}

#ad-container:hover {
	cursor: pointer;
}

#ad-background {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: -1;
}

.ct-btn {
	color: white;
	background-color: #048A9A;
	border: none;
	font-weight: 600;
	padding: 6px 10px;
	position: absolute;
	font-family: 'Roboto', sans-serif;
}

.ct-btn:hover {
	cursor: pointer;
}

.bottle, .logo, .copy {
	position: absolute;
}

.copy{
	color: #F2F4F7;
}

.headline {
	/*font-weight: 600;*/
	color: #128F9F;
}

.description {
	color: #148E9F;
	font-style: italic;
}

.variableData {
	color:  #148E9F;
}

.promo, .promo-code {
	position: absolute;
	color:  #148E9F;
}